<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true"/>
		<authentication mode="Windows"/>
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.aspx" type="CustomCaptcha.CaptchaImageHandler, CustomCaptcha"/>
		</httpHandlers>
	</system.web>
</configuration>
